.weather-data-container {
    display: flex;
    margin: 5px;
    margin-top: 0px;
    border-radius: 20px;
    aspect-ratio: 1;
    flex-direction: column;
}

.small-info-text {
    font-size: 15;
    margin: 0 0;
}

.data-upper-container {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.data-bottom-container {
    display: flex;
    overflow: hidden;
    flex: 3;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 20px;
}


.weather-image {
    width: 21%;
    aspect-ratio: 1;
}