.search-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.info-column {
    padding: 0px 6px !important;
}

@media (max-width: 990px) {
    .info-column {
        padding: 10px 8px !important;
    }
    .search-page-container {
        margin-top: 0px;
    }
}