.weather-data-container {
    display: flex;
    height: 350px;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    aspect-ratio: 1;
    flex-direction: column;
}

p {
    margin: 5px;
}

.data-upper-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.data-bottom-container {
    display: flex;
    overflow: hidden;
    flex: 3;
    flex-direction: column;
}


.weather-image {
    width: 20%;
    aspect-ratio: 1;
}