.loading-spinner {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    --spinner-color: black;
}

.loading-spinner:after {
    content: " ";
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid var(--spinner-color);
    border-color: var(--spinner-color) transparent var(--spinner-color) transparent;
    animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}